<%- include('../../partials/headerLayout.ejs', {pageName: "Projects", pageTitle:
"Product Page", pathLevel: "/"}) %>
<div class="mx-5 my-4">
  <h3>Create New Product</h3>
  <table>
    <tr>
      <td>
        <form action="./store" method="post">
          <label for="catName">Category Name</label>
          <input type="text" name="catName" id="catName" />

          <input
            type="submit"
            value="Create New Project"
            class="mt-2 btn btn-primary"
          />
        </form>
      </td>
    </tr>
  </table>
</div>

<%- include('../../partials/footerLayout.ejs', { pathLevel : "/"}) %>
